BRIDGE_MQTT_HOST=cd5921ff.ala.asia-southeast1.emqxsl.com
BRIDGE_MQTT_PORT=8883
BRIDGE_MQTT_TLS=true
BRIDGE_MQTT_CA_PATH=
BRIDGE_MQTT_TLS_INSECURE=false
BRIDGE_MQTT_USERNAME=emqx_online_test_151338fc
BRIDGE_MQTT_PASSWORD=94dV.deJ4b*c44Jf57dc8f@24]a8K48b
BRIDGE_TOPIC_CREATE=digibase/workorder/v1/create
BRIDGE_TOPIC_UPDATE=digibase/workorder/v1/update
BRIDGE_TOPIC_DLQ=digibase/workorder/v1/dlq
BRIDGE_MQTT_QOS=1
BRIDGE_RMF_API_BASE_URL=http://localhost:8000
BRIDGE_RMF_API_TOKEN=test
BRIDGE_RMF_POLL_INTERVAL_SEC=2.0
BRIDGE_SQLITE_PATH=/home/shoonlaezayyar/rmf_ws/bridge_layer.sqlite3